<div class="container">
  <h2>{{ 'CHOOSE_GAME' | translate }}:</h2>
  <div class="panel-group" id="accordion">

    <div class="panel panel-default top-buffer-10" *ngFor="#category of gamesCategories; #i=index">
      <button id="section{{i}}" type="button" class="btn btn-primary btn-lg btn-block" [class.green]="i == 0" data-toggle="collapse"
        [attr.href]="'#collapse'+i" data-parent="#accordion">{{category.name | translate }}</button>
      <div id="collapse{{i}}" class="panel-collapse collapse" [class.in]="i == 0">
        <div class="panel-body">
          <div class="col-sm-4 col-md-3 col-lg-2 top-buffer" *ngFor="#game of category.games; #j=index" id="{{i}}-{{j}}">
            <figure class="btn btn-default">
              <a class="game-tile" (click)="loadGame(i, j)">
                <img src="./assets/images/games/{{game.image}}" alt="{{game.name}}">
                <figcaption>{{game.name | translate}}</figcaption>
              </a>
            </figure>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
