<div id="bgColor" class=" form-group top-buffer">
  <label class="col-sm-2 control-label">{{ 'BACKGROUND' | translate}}:</label>
  <div class="col-sm-10">
    <div class="radio" *ngFor="#bgColor of backgrounds; #i=index">
      <label class="h4">
        <input name="bgColorOption" type="radio" value="{{i}}" [checked]="shouldBeChecked(i)" (click)="selectBackgroundColor(i)"
        /> {{ bgColor | translate}}
      </label>
    </div>
  </div>
</div>

<div id="pointer" class="form-group top-buffer">
  <label class="col-sm-2 control-label">{{ 'POINTER' | translate}}:</label>
  <div class="col-sm-10">
    <div *ngFor="#img of allPointerImages; #i=index" class="col-sm-6 col-md-3 col-lg-2 top-buffer">
      <img id="pointer-size-{{i}}" src="{{img}}" class="img-circle pointer-size-{{i}}" [class.selected]="shouldApplySelectedPointerSizeCss(i)"
        (click)="selectPointerSize(i)" />
    </div>
  </div>

  <div class="col-sm-10 col-sm-offset-2">
    <div *ngFor="#color of availablePointerColors" class="col-sm-6 col-md-3 col-lg-2 top-buffer">
      <div id="pointer-color-{{color}}" class="pointer-color-{{color}} color-box img-circle" [class.selected]="shouldApplySelectedPointerColorCss(color)"
        (click)="selectPointerColor(color)"></div>
    </div>
  </div>
</div>

<div id="deviceType" class=" form-group top-buffer">
  <label class="col-sm-2 control-label">{{ 'DEVICE' | translate }}:</label>
  <div class="col-sm-10">
    <div class="radio" *ngFor="#device of devices; #i=index">
      <label class="h4">
        <input name="deviceTypesOption" type="radio" value="{{i}}" id="device-type-{{i}}" [checked]="shouldDeviceTypeBeChecked(i)" (click)="selectDeviceType(i)"
        />{{ device | translate }}
      </label>
    </div>
  </div>
</div>
