img {
  height: 128px;
  width: 128px;
}

a.link {
  cursor: pointer;
}

a, a:hover {
  color: #333;
  text-decoration: none;
}

.profileBox {
  border: #ffd699 2px solid;
  border-radius: 25px 25px 0px 0px;
  width: 132px;
}

.profileBox > .title {
  height: 30;
  background-color: #ebebe0;
  border-radius: 25px 25px 0px 0px;
}

.selected {
  box-shadow: 0px 12px 22px 1px #333;
  border: solid 2px #808080 !important;
}

.text-overflow {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-buffer {
  margin-top: 20px;
}

.top-buffer-10 {
  margin-top: 10px !important;
}

.left-buffer {
  margin-left: 20px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.color-box {
  height: 128px;
  width: 128px;
  border: 1px #cccccc solid;
}

.pointer-color-0 {
  background-color: white;
}

.pointer-color-1 {
  background-color: #FFE600;
}

.pointer-color-2 {
  background-color: #90D8A0;
}

.pointer-color-3 {
  background-color: #37C8FF;
}

.pointer-color-4 {
  background-color: #ED4337;
}

.deleteBtn {
  position: absolute;
  top: 0;
  right: 0;
}

.btn-block {
  text-align: left;
}

figure {
  text-align: center;
}

.panel {
  border: 0;
}

.main-content {
  padding-top: 70px;
}

body {
  background-color: #F2F1EF;
}

.panel .btn-block:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
}

.panel .btn-block.collapsed:after {
  content: "\e080";
}

.green {
  background-color: #339966;
  border-color: #26734d;
  color: #fff;
}

.green:hover, .green:focus {
  background-color: #2d8659;
  border-color: #26734d;
  color: #fff;
}

.green:active {
  background-color: #206040;
  border-color: #194d33;
  color: #fff;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fixed-top {
  position: fixed;
  top: 60px;
  left: 60px;
  right: 60px;
  z-index: 1030;
}

.navbar-custom {
  background-color: #F2784B;
  border-color: #F2784B;
  color: #ffffff;
  border-radius: 0;
}

.navbar-custom .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
}

.navbar-custom .navbar-nav .open > a, .navbar-custom .navbar-nav > li > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #F2784B;
}

.navbar-custom .navbar-brand {
  color: #eeeeee;
}

.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-brand > a:hover {
  text-decoration: underline;
}

.navbar-custom .navbar-toggle {
  border-color: #ffffff;
}

.navbar-custom .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
