img{
    height: 128px;
    width: 128px;
}

a.link{
    cursor: pointer;
}

.profileBox {
    border: gold 2px solid;
    border-radius: 25px 25px 0px 0px;
    width: 132px;
}

.profileBox > .title {
    height: 30;
    background-color: #ebebe0;
    border-radius: 25px 25px 0px 0px;
}

.selected {
    box-shadow:0px 12px 22px 1px #333;
    border:solid 2px gold !important;
}

.text-overflow {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-buffer {
  margin-top:20px;
}

.left-buffer{
  margin-left:20px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.color-box{
  height: 128px;
  width: 128px;
  border: 1px #cccccc solid;
}

.pointer-color-0{
  background-color:white;
}

.pointer-color-1{
  background-color:yellow;
}

.pointer-color-2{
  background-color:green;
}

.pointer-color-3{
  background-color:blue;
}

.pointer-color-4{
  background-color:red;
}

.deleteBtn{
    position:absolute;
    top:0;
    right:0;
}

.btn-block{
    text-align: left;
}

figure {
    text-align: center;
}

.panel {
    border: 0;
}

.body{
  padding-top: 70px;
}

.panel .btn-block:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
}
.panel .btn-block.collapsed:after {
    content:"\e080";
}

#section1{
  background-color: forestgreen;
}

#section2{
  background-color: navy;
  /*background-color: red;*/
}

.navbar-inverse .navbar-nav li a{
  color:white;
  font-size: 16px;
}

.black{
  color:black !important;
}

.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
