<!-- Header navigation menu -->
<nav class="navbar navbar-custom navbar-fixed-top shadow">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="isUserLogged()?['/Home']:['/Login']">{{ 'APP' | translate }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <div *ngIf="!isUserLogged()">
        <ul class="nav navbar-nav navbar-right">
          <li *ngFor="#lang of languages"> <a id="{{lang}}" role="button" (click)="setLanguage(lang)" [class.bolded]="shouldApplySelectedLanguageCss(lang)">{{ lang | translate }}</a></li>
        </ul>
      </div>

      <div *ngIf="isUserLogged()">
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/Home']">{{ 'HOME' | translate }}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['/UploadPicture']" id="navBarUpload"><span class="glyphicon glyphicon-upload"></span> {{ 'UPLOAD_PHOTO' | translate }}</a></li>
          <li class="dropdown">
            <a href="#" id="loggedUser" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{ getLoggedUser() }}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['/UserSettingsEdit']" id="userSettingsEdit"><span class="glyphicon glyphicon-cog"></span> {{ 'SETTINGS' | translate }}</a></li>
              <li><a id="logout" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> {{ 'LOGOUT' | translate }}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div class="container-fluid main-content">
  <alerts class="fixed-top"> </alerts>
  <router-outlet></router-outlet>
</div>
