<div class="form-horizontal">
  <div class="container">
    <div class="well form-group">
      <div class="col-xs-12 col-sm-3 col-sm-offset-0 col-md-2 col-md-offset-1">
        <img src='{{ selectedImagePath }}' alt="" [hidden]="!selectedImagePath" class="img-circle" />
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 top-buffer">
        <input type="text" class="form-control" disabled value="{{selectedImage}}" placeholder="Одбери слика" />
        <div class="fileUpload btn btn-primary">
          <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
          <span class="glyphicon-class">Одбери слика</span>
          <input type="file" class="upload" accept="image/*" (change)="onChange($event)" />
        </div>
        <input type="button" class="btn btn-success green" value="Прикачи" (click)="uploadFile()" [disabled]="!selectedFile" />
      </div>
    </div>
  </div>
</div>
