<div class="container">

  <div class="row">
    <select #sel class="form-control game-picker left-buffer" (change)="getStatistic(sel.value)">
    <option *ngFor="#game of games;#i=index" value="{{i}}">
      {{ game.displayName | translate }}
    </option>
    </select>
  </div>

  <div class="table-responsive">
    <table class="table table-striped top-buffer">
      <thead>
        <tr>
          <th *ngFor="#header of games[0].headers" id="{{header.toLowerCase()}}" class="col-md-3 text-center">
            {{ header | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="#row of statistics">
          <td>
            {{ row.deviceType | translate }}
          </td>
          <td>
            {{ 'DURATION' | translate: {hours: row.duration.hours, minutes: row.duration.minutes, seconds: row.duration.seconds} }}
          </td>
          <td>
            {{ row.invalidClicksCount }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
